DATABASE_TYPE=postgres
POSTGRES_DATABASE_URL=postgres://postgres:postgres_password@127.0.0.1:3215/station_db
MYSQL_DATABASE_URL=mysql://station_user:station_password@127.0.0.1:3214/station_db
SQLITE_DATABASE_URL=sqlite://storage/sqlite/stations.sqlite3
